.background {
  background-color:#24305E;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.topContainer {
  height: 30vh;
  width: 100vw;
  background-color: #24305E;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}
