/* .groupContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width:40vw;
} */
.grouplist {
    margin: 20px;
}
.grouplist input[type=text] {
    font-size: 20px;
    padding: 4px;
    margin: 0 12px 0 24px;
}


.sort-button {
    box-shadow: 4px 4px skyblue;
    background-color: dodgerblue;
    height: 90%;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
}
.sort-button:hover {
    background: #106FF0;  /*dodgerblue  -  (1e90ff)*/;
}
.sort-button:active {
  box-shadow: 2px 2px skyblue;
  transform: translate3d(2px, 2px, 0)
}


.checkbox {
    margin: 1.0em;
    user-select: none; /* no selection of text/this element */
    cursor: pointer;
}
.checkbox span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease; /* background appear/disappear */
}
.checkbox span:first-child svg {
    /* checkmark render */
    position: absolute;
    top: 4px;
    left: 3px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox span:first-child:before {
    /* wave animation */
    content: "";
    width: 100%;
    height: 100%;
    background: skyblue;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%; /* circle */
}
.checkbox span:last-child {
    padding-left: 8px; /* text offset */
}
.checkbox:hover span:first-child {
    border-color: skyblue;
}
.input-checkbox {
    display: none; /* hide default */
}
.input-checkbox:checked + .checkbox span:first-child {
    background: dodgerblue;
    border-color: skyblue;
    animation: wave 0.4s ease;
}
.input-checkbox:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;  /* how much to hide of the checkmark */
}
.input-checkbox:checked + .checkbox span:first-child:before {
    transform: scale(3); /* size of wave */
    opacity: 0;
    transition: all 0.5s ease;
}
  
@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


/*@media (hover: none) and (pointer: coarse) {*/
@media (max-width: 800px) {
    .grouplist {
        margin: 16px;
    }
    .grouplist input[type=text] {
        font-size: 18px;
        display: block;
        margin: 0 0 10px;
        width: calc(100% - 12px);
    }

    .checkbox {
        display: inline-block;
        margin: 0px 1em 6px;
    }

    .sort-button {
        margin: 10px 10px 0px;
        font-size: 14px;
        padding: 8px;
    }

    p {
        margin-bottom: 0.7em;
    }
}