.groupedit {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.groupedit-panel {
    flex: 1 1 300px;
    padding: 10px;
    background: var(--color-font-light);
    margin: 10px;
    box-shadow: 0px 0px 4px black;
}
.groupedit-panel h1 {
    margin: 7px 0px;
}
.groupedit td {
    padding: 1px 20px 1px 0px;
}

@media (max-width: 800px) {
    .groupedit {
        flex-flow: column;
    }
}