.sidenav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--color-surface-dark);
  color: var(--color-font-light);
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}
.sidenav h2 {
  transition: 0.3s;
  padding: 8px 32px 8px 32px;
  text-align: center;
}
.sidenav p {
  padding-left: 32px;
}
.sidenav a {
  color: var(--color-font-light);
}
.sidenav-item {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  font-size: 17px;
}
.sidenav-item:hover {
  background-color: var(--color-font-light-hover);
}
.sidenav-item img {
  float: left;
  height: 24px;
  width: 24px;
  padding-right: 32px;
}

/***********************************************
 *                Close icon                   *
 ***********************************************/
.sidenav-close {
    margin-top: 0px;
}
.sidenav-close-cross {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 32px;
    height: 32px;
    opacity: .8;
    padding: 0;
    padding-left: 0px;
    margin: 0;
    cursor: pointer;
  }
  .sidenav-close-cross:hover {
    opacity: 1;
  }
  .sidenav-close-cross:before, .sidenav-close-cross:after {
    position: absolute;
    left: 15px; 
    content: ' ';
    height: 33px;
    width: 2px;
    background-color :white;
  }
  .sidenav-close-cross:before {
    transform: rotate(45deg);
  }
  .sidenav-close-cross:after {
    transform: rotate(-45deg);
  }
  


