.sidenav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:#A0A0A0;
  color: white;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}
.sidenav h2 {
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 32px 8px 32px;
  text-align: center;
}
.sidenav-item {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  font-size: 17px;
}
a {
  color: inherit; 
  text-decoration: none;
}
.sidenav-item:hover {
  background-color:#909090
}
.sidenav-item img {
  float: left;
  height: 24px;
  width: 24px;
  padding-right: 32px;
}


