#response_message {
    color: green;
}

#error_message {
    color:red;
}

/*Colors:
 F: var(--color-orange), var(--color-orange), white, black
 A: #1abc9c, #18aa8d, white, #0e6252
 */

h1 {
    width: 100%;
    margin-block-end: 0.80em;
    font-size: 18px;
    background: var(--color-orange);
    color: white;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.panel {
    box-sizing: border-box;
    width: 260px;
    margin: 0 auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 21px;
    border-radius: 3px;
}
.panel > h1 {
    box-sizing: border-box;
    padding: 10px 20px;
}

input {
    margin: 14px auto 3px;
    width: 80%;
    display: block;
    border: none;
    padding: 6px 0;
    border-bottom: solid 1.5px #bbb;
    color: black;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
input:focus {
    box-shadow: none;
    outline: none;
    border-bottom: solid 1.5px var(--color-orange);
}

label {
    font-size: 11px;
    width: 80%;
    margin: auto;
    margin-bottom: -11px;
    display: block;
    color: #C64C1F; /* TODO: choose one that is nice */
}

button {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 6px;
    border: none;
    background: var(--color-orange);
    cursor: pointer;
    border-radius: 3px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}


.close-cross {
    position: relative;
    display: block;
    left: 224px;
    top: -10px;
    width: 16px;
    height: 16px;
    opacity: .8;
    padding: 0;
    margin: 0;
    cursor: pointer;
    margin-bottom: -16px;
  }
  .close-cross:hover {
    opacity: 1;
  }
  .close-cross:before, .close-cross:after {
    position: absolute;
    left: 7px;
    top: -1px; 
    content: ' ';
    height: 17px;
    width: 2px;
    background-color :white;
  }
  .close-cross:before {
    transform: rotate(45deg);
  }
  .close-cross:after {
    transform: rotate(-45deg);
  }


.response, .message {
    width: 80%;
    margin: auto;
    margin-top: 19px;
    font-style: italic;
    font-size: smaller;
}


/* could be used to color different buttons */
/* TODO: change colors to nicer ones */
.green {
    color: green; 
}
.red {
    color: red;
}